* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.icon {
    z-index: 2;
    padding: 3em;
    width: 200px;
    position: absolute;
    top: 0px;
    left: 0px;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.center-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-text {
    z-index: 2;
    margin-bottom: 3rem;
    max-height: 40%;
    max-width: 600px;
    object-fit: contain;
}

.button {
    max-width: 300px;
    margin: 0 auto;
    bottom: 60px;
    z-index: 2;
    cursor: pointer;
    margin-bottom: 60px;
}

a {
    margin: auto;
    z-index: 2;
}

@media (max-width: 900px) {
    .center-text {
        width: 85%;
    }
    .button {
        margin-bottom: 40px;
    }
}